<div class="home-container">
  <app-navbar></app-navbar>
  <app-hero></app-hero>
  <section class="action-section py-4 py-md-5">
    <div class="container">
      <div class="row align-items-center g-4 g-lg-5">
        <div class="col-12 col-lg-6">
          <h2 class="display-3 text-black mb-4 lh-sm">
            Avec vos <span class="text-green">telephones</span>, <span class="text-green">ordinateurs</span> ou <span class="text-green">tablettes</span>, <span class="text-muted"> vous pouvez prendre le test en ligne</span>
          </h2>
        </div>
        <div class="col-12 col-lg-6">
          <object data="/mission.svg" type="image/svg+xml" class="w-100 h-auto shadow-lg rounded-4"></object>
        </div>
      </div>
    </div>
  </section>
  <app-courses></app-courses>
  <app-about></app-about>
  <app-mission-vision></app-mission-vision>
  <!-- Call to Action -->
  <div class="text-center mt-4 mt-md-5">
    <div class="card border-0 rounded-top-5 custom-bg-primary  text-muted">
      <div class="card-body p-4 p-md-5 mt-3 mt-md-4">
        <p class="fs-6 fs-md-5 mb-3 mb-md-4 fs-3">
          Rejoignez des milliers d'étudiants qui ont déjà amélioré leurs résultats avec nos ressources.
        </p>
        <div class="d-flex flex-column flex-sm-row gap-2 gap-md-3 justify-content-center">
          <a href="#courses" class="btn btn-light btn-lg px-3 px-md-4 py-2 py-md-3 rounded-pill fs-6 fs-md-5">
            <i class="bi bi-arrow-up-right me-2"></i>
            Commencer
          </a>
          <a href="/contact" class="btn btn-light btn-lg px-md-4 py-2 py-md-3 rounded-pill fs-6 fs-md-5">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48"
              class="me-2">
              <path fill="#4caf50" d="M45,16.2l-5,2.75l-5,4.75L35,40h7c1.657,0,3-1.343,3-3V16.2z"></path>
              <path fill="#1e88e5" d="M3,16.2l3.614,1.71L13,23.7V40H6c-1.657,0-3-1.343-3-3V16.2z"></path>
              <polygon fill="#e53935" points="35,11.2 24,19.45 13,11.2 12,17 13,23.7 24,31.95 35,23.7 36,17"></polygon>
              <path fill="#c62828"
                d="M3,12.298V16.2l10,7.5V11.2L9.876,8.859C9.132,8.301,8.228,8,7.298,8h0C4.924,8,3,9.924,3,12.298z">
              </path>
              <path fill="#fbc02d"
                d="M45,12.298V16.2l-10,7.5V11.2l3.124-2.341C38.868,8.301,39.772,8,40.702,8h0 C43.076,8,45,9.924,45,12.298z">
              </path>
            </svg>
            Nous contacter
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>