<section id="about" class="bg-white py-5">
  <div class="container">
    <div class="row align-items-center g-5 mb-5">
      <div class="col-lg-6">
        <h2 class="display-3 mb-4 lh-sm">
          Nous avons créé une <span class="text-green text-muted">meilleure façon</span> d'apprendre
        </h2>
      </div>
      <div class="col-lg-6">
        <p class="fs-5 text-muted lh-base mb-4">
          Nous croyons fermement que chaque étudiant mérite d'avoir accès aux meilleurs 
          outils pour réussir ses examens nationaux.

          Ces pourquoi nous avons créé cette plateforme pour faciliter l'accès aux ces ressources.
        </p>
        <div class="d-flex flex-wrap gap-3">
            <a href="#about" class="btn btn-green btn-lg rounded-pill fs-6 fs-md-5 py-2 ">
              <i class="bi bi-arrow-up-right me-2"></i>
                Voir plus
            </a>
        </div>
      </div>
    </div>
  </div>
</section>
