<div class="container p-5">
  <div>
    <app-navbar></app-navbar>
  </div>
  
  <div class="text-center mt-5 mb-5">
    <h1 class="main-heading">Choisissez votre mode de test</h1>
    <p class="sub-heading">Sélectionnez la manière dont vous souhaitez passer votre test</p>
    
  </div>

  <div class="cards-wrapper" *ngIf="testId">
    <app-test-card
    title="Temps limité "
    description="Teste-toi avec un temps limité. Parfait pour t’entraîner et aller plus vite."
    buttonText="Commencer"
    
      buttonClass="btn-blue"
      [route]="'/timedtest/' + testId">
    </app-test-card>
    <app-test-card
      title="Temps illimité"
      description="Prenez votre temps, travaillez à votre rythme et concentrez-vous sur la précision."
      buttonText="Commencer"
      
      buttonClass="btn-green"
      [route]="'/timedtest/' + testId + '?mode=unlimited'">
    </app-test-card>
  </div>

    
</div>