/* make the active tab stand out */
.container{
   background-color: #EFF7FC;
}
.nav-tabs {
  .nav-link {
    &.active {
      background-color: #327ed0;  /* your chosen bg color */
      color: #fff;                /* text color on active */
      border-radius: 0.25rem;     /* match your design */
    }
  }
}